<% content_for :navbar do %>
   <div class="empty"></div>
<% end %>
  <div class="container-banner">
    <div class="banner">
      <div class="header-background">
        <h1 class = "header">Rent your dream bike</h1>
      </div>
      <%= link_to "Rent out a bike", new_bike_path, class: "secondary-button" %>
      <%= link_to "Find a bike", bikes_path, class: "primary-button" %>
  </div>
</div>

<div class="container-card">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=<%= image_path("bike_black.jpg") %> alt="Card image bike 1">
      <i class="fas fa-bicycle"></i>
      <div class="card-body">
        <h5 class="card-title">Earn extra money with your bikes</h5>
        <p class="card-text">As a simple add on you will make the world a bit greener by renting out your own bikes!</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=<%= image_path("bike_picture_three.jpg") %> alt="Card image bike 2">
      <div class="card-body">
        <div class="primary-button">
          <%= link_to "Find a bike", bikes_path %>
        </div>
        <p class="card-text">Different bikes for different needs!</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=<%= image_path("bike_black_two.jpg") %> alt="Card image bike 3">
      <i class="fas fa-globe-europe"></i>
      <div class="card-body">
        <h5 class="card-title">Try out the biggest bike renting platform</h5>
        <p class="card-text">Easily choose and return your favorite bike near to your location!</p>
      </div>
    </div>
  </div>
