<% if policy(Bike).create? %>
  <%= link_to "➕ Add bike", new_bike_path, class: "btn btn-outline-info"%>
<% end %>

<div class="flex-container">
    <% @bikes.each do |bike| %>
     <div class="card d-flex flex-column">
       <% if bike.photo.attached? %>
        <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill  %>
        <% end %>
        <div class="title" mt-3>
          <h2><%= bike.title%></h2>
        </div>
        <div class="description">
        <p><%= bike.description %></p>
        </div>
        <%= link_to "Show bike", bike, class: "btn btn-outline-info w-100 mt-auto"%>
      </div>
    <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
