<ul>
  <% @bikes.each do |bike| %>
    <li>
      <%= link_to bike.title, bike_path(bike) %>
      <% if policy(bike).edit? %>
        <%= link_to "Update", edit_bike_path(bike) %>
      <% end %>
      <% if policy(bike).destroy? %>
        <%= link_to "Destroy", bike_path(bike), method: :delete %>
      <% end %>
      <%= link_to "Show bike", bike, class: "btn btn-outline-primary"%>
    </li>
  <% end %>
</ul>
<% if policy(Bike).create? %>
  <%= link_to "New bike", new_bike_path %>
<% end %>