<% if policy(Bike).create? %>
  <%= link_to "➕ Add bike", new_bike_path, class: "btn btn-outline-info"%>
<% end %>

<div class="flex-container">
    <% @bikes.each do |bike| %>
     <div class="card">
        <%= bike.title %>
        <% if policy(bike).edit? %>
          <%= link_to "Update", edit_bike_path(bike) %>
        <% end %>

        <% if policy(bike).destroy? %>
          <%= link_to "Destroy", bike_path(bike), method: :delete %>
        <% end %>
        <%= link_to "Show bike", bike, class: "btn btn-outline-info"%>
      </div>
    <% end %>
</div>