<%= form_tag bikes_path, method: :get do %>
    <div class="d-flex justify-content-center w-50 m-2">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your bike..."
      %>
      <%= submit_tag "Search", class: "primary-button search-button" %>
    </div>
  <% end %>

<div class="index-container">
  <div class="flex-container">
      <% @bikes.each do |bike| %>
      <%= link_to bike, class: "card bike d-flex flex-column btn" do %>
           <% if bike.photo.attached? %>
            <%= cl_image_tag bike.photo.key, height: 300, width: 300, crop: :fill  %>
            <% end %>
            <div class="title" mt-3>
              <h2><%= bike.title%></h2>
            </div>
            <div class="description">
            <p><%= bike.description %></p>
            </div>
            <div class="price">
              <p><%= bike.price_per_day %> SEK</p>
            </div>
          <% end %>
      <% end %>
  </div>

<div id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
