<div class="index-container">
  <div class="card-container">
    <% @bikes.each do |bike| %>
      <%= link_to bike, class: "index-card bike" do %>
        <div class="index-photo">
          <% if bike.photo.attached? %>
            <%= cl_image_tag bike.photo.key, height: 300, width: 300, crop: :fill  %>
          <% end %>
        </div>
        <div class="index-text">
          <div class="title" mt-3>
            <h2><%= bike.title%></h2>
          </div>
          <div class="description">
            <p><%= bike.description %></p>
          </div>
          <div class="price">
            <p><%= bike.price_per_day %> SEK</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
