<div class="showpage-container">
  <div class="bike-info-container">
      <div class="uploaded-image">
        <% if @bike.photo.attached? %>
          <%= cl_image_tag @bike.photo.key, crop: :fill %>
        <% end %>
      </div>
      <div class="bike-details-container">
        <h1> <%= @bike.title %> </h1>
        <h2 id="bike-type">Type: <%= @bike.bike_type %></h2>
        <p id="bike-description"> <%= @bike.description %></p>
        <div class="flexbox-day-price">
          <div class="day-price"> <%= "#{@bike.price_per_day} SEK" %></div>
          <p class="per_day_text">per day</p>
        </div>
      </div>
<!-- MAP -->
      <div id="map" class="show-map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
  <div class="bike-booking-container">
<!-- CALENDER -->
    <div class="calendar calendar-show">
      <%= month_calendar(events: @bookings, attribute: :start_date, end_attribute: :end_date, remote: true) do |date, bookings| %>
        <%= date.day %>
        <% bookings.each do |booking| %>
          <div class="booking-event">
            <%= "Booked" %>
          </div>
        <% end %>
      <% end %>
    </div>
<!-- BOOKING BUTTON-->
      <%  if policy(@booking).create? %>
        <h2 class="primary-button booking-button">Book this bike</h2>
      <% end %>
<!-- BOOKING FORM-->
    <div class="popup">
      <div class="pb-3 pt-3 ">
        <h1>Book <%= @bike.title %></h1>
      </div>
      <div>
        <%= simple_form_for [@bike, @booking] do |f|%>
          <%= f.input :start_date, class: "start_date"%>
          <%= f.input :end_date, class: "end_date"%>
          <div class="flexbox-price">
            <span>Total price:</span>
              <div class="total-price"> <%= "#{@bike.price_per_day} SEK" %></div>
          </div>
          <div class="space-between-buttons">
            <%= f.submit "Request booking", class: "primary-button" %>
            <%= link_to "Cancel", bike_path(@bike), class: "secondary-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

